.reset-password-container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: flex-start;
  width: 100%;

  .header {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    flex: 1 100%;
    justify-content: center;
    min-height: 8em;
  }

  .content {
    align-items: flex-start;
    background-color: $dashboard-bg-color;
    display: flex;
    flex: 1 100%;
    flex-flow: row wrap;
    justify-content: center;
  }

  .reset-password-wrapper {
    max-width: 30em;
  }

  .form-wrapper {
    align-items: center;
    background-color: $white;
    border: 1px solid $border;
    border-radius: $border-radius;
    box-shadow: 0 5px 15px rgba($dark, 0.3);
    display: flex;
    flex: 1 100%;
    flex-flow: row wrap;
    justify-content: center;
    margin: -1em auto 2em auto;
    padding: 1em;
  }

  .reset-heading {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1em 0;
    text-transform: capitalize;
  }

  .info-text {
    color: $secondary-text;
    padding-bottom: 1em;
  }

  .reset-password-form {
    .form-input {
      border-bottom: 1px solid $border;
    }

    .last-input {
      padding-bottom: 2em;
    }

    input[type="submit"] {
      background-color: $secondary-dark;
      color: $primary-dark;

      &:hover {
        background-color: $secondary;
      }
    }
  }
}


/*===========================================
                BREAKPOINTS
===========================================*/
@include respond-to("700px") {
  .reset-password-container {
    .form-wrapper {
      margin-top: -3em;
    }
  }
};
