%script{ type: "text/template", id: "deleteAccount" }
  .main-content-container
    %h2.headline
      It was the parents wasn't it?
      %span.br-mobile Too soon?
    %p.change-status-text
      We're sorry that you want to leave our team. By clicking "retire"
      your account and history will be removed from the pro's app immediately.
  .footer-container
    %button.btn.js-retire-account{ type: "button" } retire
    %button.btn.cancel-btn.js-close-modal.js-no-leave{ type: "button" } cancel
