%script{ type: "text/template", id: "archive-question" }
  .main-content-container
    %p Are you sure you want to archive this question?
  .footer-container
    %button.btn{ type: "button" } yes
    %button.btn.cancel-btn.js-close-modal{ type: "button" } cancel
