%script{ type: "text/template", id: "delete-profile" }
  .main-content-container
    %p Are you sure you want to delete user?
  .footer-container
    %button.btn{ type: "button" } yes
    %button.btn.cancel-btn.js-close-modal{ type: "button" } cancel
