!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title You've been drafted!
  /
  %body{style: "background: #dedede;"}
    %table{align: "center", cellpadding: "0", cellspacing: "0", style: "border:0; width:530px; border-collapse:collapse;"}
      %tr
        %td{align: "center", valign: "top" }
          %img{border: "0", height: "319", alt: "Congrats!  You've been drafted!", src: "http://pros-production.s3.amazonaws.com/header.png", width: "530", style: "color: white; background-color:#14161f;display:block; margin-bottom: -5px;"}
          %div{style: "width:500px; height:100%; margin-top:-20px; padding-top:20px;padding-bottom:10px; color: white; background-color:#14161f; text-align: center;"}
            %div{ style: "width:80%;margin:auto;"}
              %p{style: "font-family: arial; font-size: 18px margin-bottom:0;"}
                %span{style: "color: #50e3c2"} #{ @inviter.name }
                has invited you to join the Pros app.
                The first social media platform designed exclusively
                for the pros, without all the crowd noise.
              %p{style: "font-family: arial; font-size: 18px margin-bottom:0;"}
                Make sure to allow camera access and enable
                push notifications for the ultimate experience.
      %tr
        %td{align: "center", valign: "top", style: "background-color:#14161f;color:#50E3C2"}
          %a{href: "#{ENV["DOMAIN"]}/invite/#{@invitation.invite_token}"}
            %img{border: "0", height: "152", alt: "Join Pros", src: "http://pros-production.s3.amazonaws.com/btn_join_pros.png", width: "530", style: "display:block;margin-top:-10px;" }
