-# TODO: make this dynamic
.notification-container
  %span.notification-msg= truncate "You have 4 notifications, sucka", length: 34, seperator: " "
  %button.btn.light-text.request-btn{ type: "button", value: "view request"} view campaigns
