.reset-password-container
  .header
    %a{ href: admin_signin_path, class: "home-link" }
      = image_tag "logo.svg", alt: "pros logo"
  .content
    .wrapper.reset-password-wrapper
      .form-wrapper
        %h2.reset-heading Password reset!
        %p.info-text
          You may now #{link_to "sign in", admin_signin_path} with your new password.

