= simple_form_for @session, as: :session, url: admin_signin_path, method: :post,
  html: { class: 'user-form log-in-form', id: 'log-in-form' } do |form|

  .form-input-container.animated.fadeIn.delay-7
    = form.input :username,
      placeholder: "Enter your email",
      label: false,
      input_html: { class: "form-input", type: "email" }

  .form-input-container.animated.fadeIn.delay-7
    = form.input :password,
      placeholder: "Password",
      label: false,
      input_html: { class: "form-input" }

  .form-actions-container.animated.fadeIn.delay-9
    = form.button :submit, "sign in"

  .forgot-password-container.animated.fadeIn.delay-1-1
    %a.forgot-password-text{ href: admin_password_resets_path } Forgot your password?
