.progress-container {
  background-color: rgba(#000, 0.5);
  height: 0.3125em;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 900;

  .bar {
    background-color: $secondary_dark;
    height: 100%;
    position: relative;
    transition: width 100ms linear;
    will-change: width;
  }
}
