.brands-campaigns-list-container
  .wrapper
    -# TODO: make this dynamic
    %ul.list
      %li.campaign-item{ data:{ modal:{ target: "#modal-campaign-details", title: false } } }
        .img-container
          = image_tag "icons/img-default.svg", alt: "campaign image"
        .text-container
          .title campaign title goes here
          .date Feb 2 - Mar 2
      %li.campaign-item{ data:{ modal:{ target: "#modal-campaign-details", title: false } } }
        .img-container
          = image_tag "icons/img-default.svg", alt: "campaign image"
        .text-container
          .title campaign title goes here
          .date Feb 2 - Mar 2
      %li.campaign-item{ data:{ modal:{ target: "#modal-campaign-details", title: false } } }
        .img-container
          = image_tag "icons/img-default.svg", alt: "campaign image"
        .text-container
          .title campaign title goes here
          .date Feb 2 - Mar 2
